# Activity 2: Student Scoring System (Rule-Based Intelligence)

This notebook computes student readiness scores using rule-based logic.

## Scoring Formulas
**Academic Performance Score (APS)**
APS = (GPA × 10 + Attendance + Assignments Completion) / 3

**Wellness & Wellbeing Score (WWS)**
WWS = (Mental Wellbeing × 10 + Sleep Hours × 10 − Stress Level × 5) / 3

**Productivity & Time Management Score (PTMS)**
PTMS = (Productivity Score × 10 − Distractions × 5 + Assignments Completion) / 3

**Career Readiness Score (CRS)**
CRS = (Career Clarity × 10 + Skill Readiness × 10 + Engagement Score) / 3

**Student Readiness Index (SRI)**
SRI = Average of APS, WWS, PTMS, CRS

**Category Thresholds**
- Green: SRI ≥ 80
- Blue: 65 ≤ SRI < 80
- Yellow: 50 ≤ SRI < 65
- Red: SRI < 50

In [1]:
import pandas as pd

df = pd.read_csv('students.csv')

# Academic Performance Score
df['APS'] = (df['gpa'] * 10 + df['attendance'] + df['assignments_completion']) / 3

# Wellness & Wellbeing Score
df['WWS'] = (df['mental_wellbeing'] * 10 + df['sleep_hours'] * 10 - df['stress_level'] * 5) / 3

# Productivity & Time Management Score
df['PTMS'] = (df['productivity_score'] * 10 - df['distractions'] * 5 + df['assignments_completion']) / 3

# Career Readiness Score
df['CRS'] = (df['career_clarity'] * 10 + df['skill_readiness'] * 10 + df['engagement_score']) / 3

# Student Readiness Index
df['SRI'] = (df['APS'] + df['WWS'] + df['PTMS'] + df['CRS']) / 4

def classify(score):
    if score >= 80:
        return 'Green'
    elif score >= 65:
        return 'Blue'
    elif score >= 50:
        return 'Yellow'
    else:
        return 'Red'

df['Category'] = df['SRI'].apply(classify)

# Save updated dataset
df.to_csv('students_scored.csv', index=False)

df.head()

,student_id,age,program,semester,gpa,attendance,assignments_completion,stress_level,sleep_hours,mental_wellbeing,...,distractions,career_clarity,skill_readiness,engagement_score,APS,WWS,PTMS,CRS,SRI,Category
0,S001,19,MBA,2,5.60,94,65,8,8,4,...,2,5,3,57,71.666667,26.666667,21.666667,45.666667,41.416667,Red
1,S002,22,MBA,7,6.43,74,88,3,8,8,...,8,2,9,78,75.433333,48.333333,36.000000,62.666667,55.608333,Yellow
2,S003,19,MBA,6,8.29,66,65,3,7,6,...,4,6,9,61,71.300000,38.333333,35.000000,70.333333,53.741667,Yellow
3,S004,22,B.Tech,7,6.56,65,95,5,6,6,...,6,9,4,42,75.200000,31.666667,45.000000,57.333333,52.300000,Yellow
4,S005,18,MBA,2,5.68,84,77,8,7,3,...,3,6,5,54,72.600000,20.000000,24.000000,54.666667,42.816667,Red